.Useful {
    // display
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
    // box model
    margin-top: 40px;

    .container {
        // box model
        padding: 5px 2px;
        // border
        border: 1px solid #000000AA;
        border-radius: 5px;
        // shadow
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .title-container {
            display: flex;
            line-height: 25px;

            .title {
                font-weight: 500;
            }

            .button {
                // display
                display: flex;
                justify-content: center;
                align-items: center;
                // box model
                margin: 0 5px;
                // rest
                transition: transform 0.15s ease-in-out;
                cursor: pointer;
            }

            .button:hover {
                transform: rotate(90deg);
            }
        }

        .content-container {
            // box model
            margin: 10px 0;
            height: 400px;
            // scroll
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 2.5px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
    }
}